.jumbo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  padding: 10% 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  color: #3c4b40;
}

.jumbo-text {
  font-size: 100px;
}

.jumbo-mini-text {
  font-size: 30px;
}

.homeButton {
  color: #8bad94;
  border: 1px solid #8bad94;
  width: 200px;
  height: 70px;
  font-size: 20px;
  background-color: #0a1f0f;
  text-decoration: none;
  cursor: pointer;
}

.homeButton:hover {
  color: #bbebc7;
  border: 1px solid #bbebc7;
}

@media only screen and (max-width: 600px) {

  .jumbo-text {
    font-size: 50px;
  }
  
  .jumbo-mini-text {
    font-size: 20px;
  }

}
