.page-links{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

.page-links li{
    border: 1px solid #84a08b;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 2px;
}

.page-links li:hover{
    color: #84a08b;
}

.pagination-anchor{
    text-decoration: none;
    color: #fff;
}